<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>fileuploader</title>
<link rel="stylesheet" href="/fileuploader/view/css/reset.css">
<link rel="stylesheet" href="/fileuploader/view/css/common.css">
</head>
<body>
<div class="wrapper">
  <div class="upload-container">
    <div class="content-wrap" id="upload-wrap">
      <a class="button add-button" href="javascript:;">点击选择图片</a>
      <a class="button upload-button" href="javascript:;">点击上传</a>
      <p class="upload-info"></p>
    </div>
  </div>
</div>
<script src="/fileuploader/view/js/fileuploader.js"></script>
<script src="/fileuploader/view/js/jquery.js"></script>
<script src="/fileuploader/view/js/index.js"></script>
</body>
</html>