<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>fileuploader</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/common.css">
</head>
<body>
<div class="wrapper">
  <div class="upload-container">
    <div class="content-wrap ready">
      <!-- <a class="button" href="javascript:;">继续添加</a> -->
      <a class="button" href="javascript:;">点击选择图片</a>
      <a class="button upload-button" href="javascript:;">点击上传</a>
      <!-- <p class="upload-info">或将照片拖到这里，单次最多可选300张</p> -->
      <p class="upload-info">选中1张图片，共118.80K</p>
    </div>
  </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/fileuploader.js"></script>
</body>
</html>